* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

p {
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
}

h1 {
    font-size: 26px;
    color: #1F3F68;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.menu {
    display: flex;
    justify-content: space-between;
}

.link {
    text-decoration: none;
    list-style-type: none;
}

.top_heading {
    width: 510px;
}

.top_text {
    width: 425px;
}

.head_cont {
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}

.contant_box {
    display: flex;
    justify-content: space-between;
}

.box {
    width: 359px;
    border: 1px solid black;
    box-sizing: border-box;
}

.h3 {
    font-size: 36px;
    text-align: center;
}

.h4 {
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
}

.sidebar h3 {
    width: 340px;
}

.sidebar p {
    width: 495px;
}

.ul_contact {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.main {
    display: flex;
}

.img_cat {
    width: 250px;
    height: 250px;
}

input,
textarea {
    border: 1px solid #356EAD;
    block-size: border-box;
    border-radius: 10px;
    opacity: 0.4;
}

.button {
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
}

.maps {
    width: 100%;
}